.row-header{
  margin: 0px auto;
  padding: 0px;
}

.row-content{
  margin: 0px;
  padding: 20px 0px 20px 0px;
  border: 1px ridge;
  min-height: 300px;
}

.footer{
  background-color: #e6f2ff;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

.jumbotron{
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  color: floralwhite;
}
a{
  font-size: 1.2em;
}

.adress{
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body{
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark{
  background-color: #0059b3;
}

.tab-content{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.carousel {
  background: #3399ff;
}

.carousel-item{
  height: 300px;
}

.carousel-item img{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  width: 100%;
}

#carouselButton{
  right: 0px;
  position: absolute;
  bottom: 0px;
}

.modal-content {
  background: #fff; }

.modal .modal-header {
  background: #0059b3; 
}


h1,h2,p {
  color: white;
  font-size: 1em;
}

main{
  padding-top: 10px;
}
.input-lg{
  width: 200px;
}

.copyright p{
  color: black;
}

.scrolling-wrapper{
  overflow-x: auto;
  width: 100%;
}

.card-block{
  background-color: #fff;
  border: none;
  background: linear-gradient(to right bottom, hsla(200, 90%, 70%, 0.8), hsla(270, 70%, 40%, 0.8));
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  &:hover{
    transform: translateY(-5px);
    box-shadow: none;
  }
}
.img-top {
-webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: 250px;
}

@media only screen and (max-width: 600px){
  .img-top{
    height: 150px;
  }
}

@media only screen and (max-width: 300px){
  .img-top{
    height: 200px;
  }

  
}
